
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Magestic Hotel</title>
    {% load static %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!--düzeltme yaptım dikkat et-->
    <script type="text/javascript" src="{% static 'dist/slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/jquery.scrollUp.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/style1.js' %}">
    <script type="text/javascript" src="{% static 'dist/demo.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    </head>
    
<body background="{% static 'img/gold_hotel2.jpeg' %}" style="background-size: 100%; cover; background-repeat: no-repeat; background-position: center;">
    <header class="tm-header">
        <header class="tm-header">
            <img class="tm-logo" src="{% static 'img/hotel.png' %}" style="width: 50px; height: 50px; position: absolute; left: 5;">
                </header>
        <nav class="tm-nav">
                <label for="menu-toggle" class="menu-icon">&#9776;</label>
                <ul>
                    <ul class="menu">
                        <li class="tm-list"><a href="login.html">Anasayfa</a></li>
                        <li class="tm-list"><a href="explore.html">Keşfetmek</a></li>
                        <li class="tm-list"><a href="rooms.html">Odalarımız</a></li>
                        <li class="tm-list"><a href="rezervasyon_oluştur">Rezervasyon</a></li>
                        <li class="tm-list"><a href="contact.html">İletişim</a></li>
                        <li class="tm-list dropdown">
                            <a href="/">Çıkış Yap</a>
                            <ul class="dropdown-content">
                                <a href="profile.html">Profil</a>
                                <a href="settings.html">Ayarlar</a>
                                <a href="/">Çıkış</a>
                            </ul>
                        </li>
                    </ul>
                </ul>
        </nav>
    </header>
    
    
    <section style="padding: 0.1px; margin: 0px;"  class="tm-main" >
        <p style="font-size: 30px;" >ODALAR</p>
    </section>
    
    
      <section class="tm-roomsection">
                    
                    <div class="tm-room1">
                        <div class="tm-trans"> 
                            <div href="rezervasyon_oluştur">
                                <p>2 Yatak</p><p>Ücretsiz Büfe</p><p>Bedava İnternet</p> 
                            </div>
                        <div><p>Sadece</p><p class="bold">₺ 1999.99</p> </div></div>
                        
                        
                        <a href="loading2">
                            <img class="tm-roomimage" src="{% static 'img/Ekran görüntüsü 2024-10-18 000900.jpg' %}" style="width: 580px; height: 400px;">
                        </a>
                        
                     <p class="s">Luxury Suite</p>

                    </div>
                        <div class="tm-room1">
                            <div class="tm-trans"> 
                                <div>
                                    <p>2 Yatak</p><p>Lüx İç Mekan</p><p>Bedava İnternet</p> 
                                </div>
                        
                        <div><p>Sadece</p><p class="bold">₺ 1599.99</p> </div></div>
                    
                        <a href="loading3">    
                            <img class="tm-roomimage" src="{% static 'img/Ekran görüntüsü 2024-10-18 001507.jpg' %}"  style="width: 580px; height: 400px;">
                        </a>
                            <p>Delux Suite</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>2 Yatak</p><p>Doğal Görünüm</p><p>Bedava İnternet</p> </div>
                        
                        <div><p>Sadece</p><p class="bold">₺ 1299.99</p> </div></div>
                        
                        <a href="loading3">    
                            <img class="tm-roomimage" src="{% static 'img/Ekran görüntüsü 2024-10-18 001617.jpg' %}"  style="width: 580px; height: 400px;">
                        </a>
                            <p>Premier Suite</p>

                    </div>
    </section>
    <br/>
     <section class="tm-roomsection">
                    <div class="tm-room1">
                        
                        <div class="tm-trans"> <div><p>2 Yatak</p><p>Bedava İnternet</p><p>Sıcak Havlu</p> </div>
                        
                        <div><p>Sadece</p><p class="bold">₺ 999.99</p> </div></div>
                        
                        <a href="loading4">
                            <img class="tm-roomimage" src="{% static 'img/Ekran görüntüsü 2024-10-18 000900.jpg' %}"  style="width: 580px; height: 400px;">
                        </a>
                            <p class="s">Luxury Room</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>2 Yatak</p><p>Sıcak Havlu</p><p>Ekonomik Paket</p> </div>
                        
                        <div><p>Sadece</p><p class="bold">₺ 599.99</p> </div></div>
                        
                        <a href="loading5">    
                            <img class="tm-roomimage" src="{% static 'img/Ekran görüntüsü 2024-10-18 001507.jpg' %}"  style="width: 580px; height: 400px;">
                    </a>
                            <p>Delux Room</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>1 Yatak</p><p>Sıcak Havlu</p><p>Ekonomik Paket</p> </div>
                        
                        <div><p>Sadece</p><p class="bold">₺ 399.99</p> </div></div>
                        
                        <a href="loading6">    
                            <img class="tm-roomimage" src="{% static 'img/Ekran görüntüsü 2024-10-18 001617.jpg' %}"  style="width: 580px; height: 400px;">
                        </a>    
                             <p>Premier Room</p>

                    </div>
    </section>
       <br/>
    
    
    
       
    
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">Hakkımızda</p>
        <p>Lüks oteller zincirinin bir parçasıyız 
            ki bu da tüm dünyaya yayılıyor. Biz 
            çeşitli değerlere sahip lüks bir konaklama sağlayın
            yapacak ek ve ücretsiz hizmetler
            bizi tekrar tekrar ziyaret ediyorsunuz.</p>    
        </div>
       
        <div class="tm-address">
        <p class="bold">Adres</p>
        <p>415, Park Avenu, Hawai
            Phone : (211) 9275693451
            Email : altay123fbak@gmail.com</p>    
        </div>
        <br/>


    </footer>
    

    
    </body>
    
</html>
    
